default_language_version:
  python: python3.10

exclude: 'experiments|artificial|humanguided|campaigns'
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.4
    hooks:
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
        exclude: experiments/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: check-symlinks
    - id: check-yaml
      name: Check YAML
    - id: check-json
    - id: destroyed-symlinks
    - id: end-of-file-fixer
    - id: requirements-txt-fixer
      name: Fix requirements*.txt
      files: ^requirements.*\.txt$
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
    - id: pyupgrade
      args: ["--py310-plus"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.6.1
    hooks:
      - id: mypy
        name: "MyPy"
        additional_dependencies: ["pydantic~=2.0"]
        exclude: ^tests/.*$
